@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   /* background: radial-gradient(#535353, #000000) */
   background: radial-gradient(#212121, #0f0f0f)
}

*{
    color: #c3c3c3;
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.test{
    color: #5dd157
}